      <footer>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/sitecontact/">Website Manager</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="pull-right"><a href="#top">Back to top</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </footer>
