        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootswatch.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
        
    

    <script>
    $(document).ready(function(){
      $('.bxslider').bxSlider({
		  auto: true,
		  autoControls: true,
          pause: 10000
		});
    });
    </script>

    <script>
    //GOOGLE SEARCH
    //Enter domain of site to search.
    var domainroot="sivavishnu.org"
    function Gsitesearch(curobj){
    curobj.q.value="site:"+domainroot+" "+curobj.qfront.value
    }
    </script>

    {{ template "_internal/google_analytics.html" . }}
    
    </body>
</html>

