<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="Temple dedicated to Siva and Vishnu located in Kaniyur, Tamilnadu, India. This is one of the few temples in India where both Siva and Vishnu are worshiped under the same roof side-by-side.">
    <meta name="keywords" content="Siva, Vishnu, Shiva, Kaniyur, Hindu Temple, South India Temple, Siva and Vishnu, Saiva Siddhanta, Vishnavism, One God, Brahman, Patabrahman">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/hugo-bootswatch.css">
    <link rel="stylesheet" href="/css/jquery.bxslider.css">
    <link rel="stylesheet" href="/css/sivavishnu.css">
  </head>
  <body>
