    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">{{ .Site.Title }}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="sections">Sections<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
              {{ range .Site.Pages.GroupBy "Section" }}
                <li><a href="/{{ .Key }}">{{ .Key }}</a></li>
              {{ end }}
              </ul>
            </li> 
          </ul>
          <!-- ADD SEARCH FORM HERE -->
          
          <form class="search navbar-form navbar-right" target="searchresults" action="http://www.google.com/search" method="get"role="search" onSubmit="Gsitesearch(this)">
          <div class="input-group">
          <input name="q" type="hidden" />
          <input class="form-control"  name="qfront" type="search" required class="searchField" placeholder="Google Site Search" maxlength="50"/>
          <span class="input-group-btn">
          <button type="submit" class="search-button btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
          </button>
          </span>
          </div>
</form>
        </div>
      </div>
    </div>
