/* sivavishnu.css Stylesheet */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face	{
	font-family: tamil;
	src:url("/fonts/TAU-Barathi-I.ttf");
}

h1,h2,h3,h4,h5,h6 {
	color: green;
}

.navbar-default .navbar-brand {
  color: green;
}

.tamil {
	font-family: tamil;
}