{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                <span class="lead">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                <div class="post">
                    {{ .Content }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ partial "disqus.html" . }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ partial "container-footer.html" . }}
            </div>
        </div>

    </div>

     
{{ partial "footer.html" . }}
