{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
    
    <div class="container">
        <h1>Site Maintainer Contact Details</h1>
    </div>

    <div class="container">
    My contact details goes here.
    </div>

{{ partial "footer.html" . }}
