{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
    
    <div class="container">
        <h1>Welcome to SivaVishnu.org | சிவாவிஷ்ணு.org</h1>
    </div>

    <div class="container">
    <ul class="bxslider">
      <li><img src="/images/slider/SivaVishnuMain.jpg" /></li>
      <li><img src="/images/slider/pic1.jpg" /></li>
      <li><img src="/images/slider/pic3.jpg" /></li>
      <li><img src="/images/slider/pic4.jpg" /></li>
      <li><img src="/images/slider/pic5.jpg" /></li>
    </ul>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 well">
            <p class="text-center">This website represents a personal journal documenting the temple of my ancestors. This website is about the temple  Arulmigu Saturagiri Mahalinga Swami and Arulmigu Mahavishnu Swami Thirukkovil located in Kaniyur, Madathukkulam division, Thirupur district, Tamilnadu, India. This is one of the few temples in India where you will see both Siva and Vishnu worshiped side-by-side signifying that there is only one god but he is known by many names and many forms by many tribes. Just as all the rivers leads us to the mighty ocean so does each of our different faiths and beliefs leads us to the great divine. I am proud that our ancestors were part of this temple and my hope is to bring this to the web today.</p>
            <hr/>
            <p class="text-center">இந்த வலைத்தளம் அருள்மிகு சதுரகிரி மகாலிங்கசுவாமி, அருள்மிகு மகாவிஷ்ணு சுவாமி திருக்கோவிலை சேர்த்தது</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 well well-sm">
          <h3>Address | முகவரி</h3>
          <p>அருள்மிகு. சதுரகிரி மகாலிங்கசுவாமி
அருள்மிகு. மகாவிஷ்ணு சுவாமி திருக்கோவில், கணீயூர் - 642203</p>
          <hr/>
          <p>Arulmigu Saturagiri Mahalingaswami Arulmigu Mahavishnuswami Temple, Kaniyur - 642203</p>
          <hr/>
          Directions coming soon.
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4 well well-sm">
          <h3>Contact | தொடர்பு</h3>
          <p>Pusari (priest) A.L. Periyathambi (பெரியாதாம்பி) at 994-256-2095</p>
          <hr/>
          <p>To contact the manager of this website, please look for the link down below labeled "website manager".</p>
       </div>
        <div class="col-md-4 well well-sm">
          <h3>Map | வரைபடம்</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3921.680726173215!2d77.37567795049189!3d10.604116265212792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDM2JzE0LjgiTiA3N8KwMjInNDAuMyJF!5e0!3m2!1sen!2sus!4v1465135871363" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

    <div class="container">
        <div class="row">
          <div class="col-md-12">
          <hr/>
          List of blog articles below:
          </div>
        </div>
        {{ range where .Data.Pages "Section" "post" }}
        <div>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span class="lead">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
            <p>{{ .Summary }}</p>
        </div>
        {{ end }}

        {{ partial "container-footer.html" . }}

    </div>




{{ partial "footer.html" . }}
